body {
    background-color: whitesmoke;
    font-family: Roboto, sans-serif;
}

h2 {
    color: tomato;
}

a {
    text-decoration: none;
    cursor: pointer;   
}

a: hover {
    color: blueviolet;
}

footer {
    color: white;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}
